.page {
	height: 100%;
	width: 100%;
	background: url("images/pattern.jpg") repeat;
	font-family: Arial, Georgia;
	width: 100%;
	min-height: 100%;
}

.page__title {
	text-align: center;
	padding: 100px 100px 30px;
	margin: 0;
}

.page__vertical-menu {
	margin: 0 auto;
	width: 220px;
}
