@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima-Nova-Alt-Regular-webfont.eot');
    src: url('fonts/Proxima-Nova-Alt-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Proxima-Nova-Alt-Regular-webfont.woff') format('woff'),
         url('fonts/Proxima-Nova-Alt-Regular-webfont.ttf') format('truetype'),
         url('fonts/Proxima-Nova-Alt-Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.page {
	height: 100%;
	width: 100%;
	background: url("images/pattern.jpg") repeat;
	font-family: 'Proxima Nova', Arial, Georgia;
	width: 100%;
	min-height: 100%;
}

.page__title {
	text-align: center;
	padding: 100px 100px 30px;
	margin: 0;
}

.page__vertical-menu {
	margin: 0 auto;
	width: 220px;
}