$icons: (
    sprite: (width: 2101px, height: 1934px, svgPath: '../img/sprite.svg'),
    bag: (width: 23px, height: 29px, backgroundX: 0px, backgroundY: 0px),
    bag-white: (width: 23px, height: 29px, backgroundX: -33px, backgroundY: -39px),
    credit: (width: 157.47px, height: 107.66px, backgroundX: -66px, backgroundY: -78px),
    cropping: (width: 29px, height: 29px, backgroundX: -234px, backgroundY: -196px),
    cropping-white: (width: 29px, height: 29px, backgroundX: -273px, backgroundY: -235px),
    diamond: (width: 29px, height: 26.939999999999998px, backgroundX: -312px, backgroundY: -274px),
    diamond-white: (width: 29px, height: 26.939999999999998px, backgroundX: -351px, backgroundY: -311px),
    dish: (width: 23.240000000000002px, height: 29px, backgroundX: -390px, backgroundY: -348px),
    dish-white: (width: 23.240000000000002px, height: 29px, backgroundX: -424px, backgroundY: -387px),
    ecomerce: (width: 160.91px, height: 134.64px, backgroundX: -458px, backgroundY: -426px),
    edit: (width: 29px, height: 29px, backgroundX: -629px, backgroundY: -571px),
    edit-white: (width: 29px, height: 29px, backgroundX: -668px, backgroundY: -610px),
    globe: (width: 29px, height: 29px, backgroundX: -707px, backgroundY: -649px),
    globe-white: (width: 29px, height: 29px, backgroundX: -746px, backgroundY: -688px),
    insurance: (width: 132px, height: 120px, backgroundX: -785px, backgroundY: -727px),
    laptop: (width: 29px, height: 19.79px, backgroundX: -927px, backgroundY: -857px),
    laptop-white: (width: 29px, height: 19.79px, backgroundX: -966px, backgroundY: -887px),
    market: (width: 129.14px, height: 90.9px, backgroundX: -1005px, backgroundY: -917px),
    office: (width: 168.69px, height: 133.19px, backgroundX: -1145px, backgroundY: -1018px),
    paper: (width: 21.78px, height: 29px, backgroundX: -1324px, backgroundY: -1162px),
    paper-cup: (width: 15.3px, height: 29px, backgroundX: -1356px, backgroundY: -1201px),
    paper-cup-white: (width: 15.3px, height: 29px, backgroundX: -1382px, backgroundY: -1240px),
    paper-white: (width: 21.78px, height: 29px, backgroundX: -1408px, backgroundY: -1279px),
    secure: (width: 150.42px, height: 109.85px, backgroundX: -1440px, backgroundY: -1318px),
    selection: (width: 24.799999999999997px, height: 29px, backgroundX: -1601px, backgroundY: -1438px),
    selection-white: (width: 24.799999999999997px, height: 29px, backgroundX: -1636px, backgroundY: -1477px),
    targetting: (width: 101.79px, height: 123.21000000000001px, backgroundX: -1671px, backgroundY: -1516px),
    technical: (width: 151.98px, height: 127.85px, backgroundX: -1783px, backgroundY: -1650px),
    television: (width: 29px, height: 23.14px, backgroundX: -1945px, backgroundY: -1788px),
    television-white: (width: 29px, height: 23.14px, backgroundX: -1984px, backgroundY: -1822px),
    wallet: (width: 29px, height: 28.450000000000003px, backgroundX: -2023px, backgroundY: -1856px),
    wallet-white: (width: 29px, height: 28.450000000000003px, backgroundX: -2062px, backgroundY: -1895px),
);